<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>

<title>Użytkownicy</title>

</head>
<body>

<div class="jumbotron" layout:fragment="jumbotron">

    <h4>Użytkownicy</h4>

    <span th:if="${error != ''}">
    <div class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>
    </span>

    <span th:if="${info != ''}">
    <div class="alert alert-success" role="alert">
        <span th:text="${info}"></span>
    </div>
    </span>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Telefon</th>
            <th scope="col">E-mail</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a href="#" th:href="@{/users/user/__${user.id}__}">
                    <button type="button" class="btn btn-info btn-sm">Info</button></a>

                <a href="#" th:href="@{/users/edit/__${user.id}__}">
                    <button type="button" class="btn btn-success btn-sm">Edit</button></a>

                <a href="#" th:href="@{/users/delete/__${user.id}__}">
                    <button type="button" class="btn btn-danger btn-sm">Delete</button></a><br/>
            </td>

        </tr>

        <tr th:if="${userList.empty}">
            <td colspan="6" align="center">Lista jest pusta</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <a th:href="@{users/add}">
        <button type="button" class="btn btn-info">Add new user</button>
    </a>
</div>

</body>
</html>
