<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</head>
<body>



<div class="container">

    <h4>Użytkownicy</h4>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Telefon</th>
            <th scope="col">E-mail</th>
            <th scope="col">Del or info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>
            <td><a href="#" th:href="@{/users/delete/__${user.id}__}">delete</a>
                <a href="#" th:href="@{/users/user/__${user.id}__}">info</a>
            </td>

        </tr>

        <tr th:if="${userList.empty}">
            <td colspan="6" align="center">Lista jest pusta</td>
        </tr>
        </tbody>
    </table>
    <br/>
    <a th:href="@{users/add}">
        <button type="button" class="btn btn-info">Add new user</button>
    </a>
</div>


</body>
</html>
